*/.idea/
*/.vscode/
*/.vs/
*/.dub/
*/bin/
*/out/
.vscode/
.dub
docs.json
__dummy.html
docs/
/bfntoolkit
bfntoolkit.so
bfntoolkit.dylib
bfntoolkit.dll
bfntoolkit.a
bfntoolkit.lib
bfntoolkit-test-*
*.exe
*.o
*.obj
*.lst
*.bfn
bfnTool.py

.texturework/

pikmin2main/

pikmin2mainJPN/
